<%layout("/layouts/boilerplate")%>

<div class="row">
    <h1 class="col-8 offset-2">Log in</h1>
    <div class="col-8 offset-2">
        <form action="/login" method="post" class="needs-validation" novalidate><!--get se form ayega for sign up and is se req jayege to post route for submission-->
        <div class="mb-3 " >
            <lable for="username" class="form-lable">Username</lable>
      
            <input name="username"  type="text" class="form-control" id="username"
            required/>
           <div class="valid-feedback">  Looks good &#9989; </div>
    
    </div>
  
<div class="mb-3 " >
    <lable for="password" class="form-lable">Password</lable>

    <input name="password"  type="password" class="form-control" id="password"
    required/>
   <div class="valid-feedback">  Looks good &#9989; </div>

</div>
<button class="btn btn-success">Log in</button>
        </form>
</div>
</div>